body {
  font: 3.6em sans-serif;
  color: #333;
}
body .container-fluid {
  margin-top: 50px;
}
body svg path, body svg rect {
  cursor: pointer;
  stroke: #fff;
  stroke-width: .5px;
}
body svg .active {
  fill: orange;
  stroke: #000;
  stroke-width: .5px;
}
