$font-stack:    sans-serif;
$font-size:     1.2em;
$primary-color: #333;

body {
  font: $font-size*3 $font-stack;
  color: $primary-color;
  .gantt{
    height: 600px;
    overflow: auto;
  }
  svg{
    background-color: rgb(251, 251, 251);
    rect{
      &.task-name-button{
        &:hover{
          cursor:pointer;
        }
      }
    }
    text{
      &.task-name{
        &:hover{
          cursor:pointer;
        }
      }
    }
  }
}